<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <legend><%= t "edit_personal.title" %></legend>
      <div class="row">  
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { method: :put, :class => "form-horizontal" }) do |f| %>

          <div class=col-md-3>
            <div class="form-group">
              <div class="col-md-12 text-center">
                <% if current_user.profile_pic.url.nil? %>
                  <img src="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png" class="profile-pic" height="180" width="180"/>
                <% else %>
                  <img src=<%= current_user.profile_pic.url %> class="profile-pic" height="180" width="180"/>
                <% end %>
              </div>
              <label for="inputProfilePic" class="col-md-12 control-label" style="text-align:center;"><%= t "edit_personal.photo" %></label>
              <div class="col-md-12 text-center">
                <%= f.file_field :profile_pic, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class=col-md-9>
            <div class="form-group">
              <label for="inputName" class="col-md-3 control-label"><%= t "edit_personal.name" %></label>
              <div class="col-md-3">
                <%= f.text_field :name, class: "form-control", :placeholder =>( t "edit_personal.name" ), autofocus: true %>
              </div>
              <label for="inputGender" class="col-md-1 control-label"><%= t "edit_personal.gender" %></label>
              <div class="col-md-5">
                <%= f.select :gender, [( t "edit_personal.male" ), ( t "edit_personal.female" )], {}, { :class => 'form-control' } %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword" class="col-md-3 control-label"><%= t "edit_personal.password_change" %></label>
              <div class="col-md-9">
                <%= f.password_field :password, class: "form-control", :placeholder => ( t "edit_personal.password_change_describe" ), autocomplete: "off" %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword" class="col-md-3 control-label"><%= t "edit_personal.password_confirm" %></label>
              <div class="col-md-9">
                <%= f.password_field :password_confirmation, class: "form-control", :placeholder => ( t "edit_personal.password_change" ), autocomplete: "off" %>
              </div>
            </div>

                <!-- 언어별 등급 설정 추가 필요. 
                가르칠 수 있는 언어는 4개 등급(선택해주세요, 중상급, 고급, 모국어)
                배우고 싶은 언어는 5개등급(선택해주세요, 초급, 중하급, 중상급, 고급)
                -->
				<!-- 사용자가 자신의 언어 nil로 바꾸려면 선택해주세요 선택해야 한다는 가이드 문구 필요함
				-->
            <div class="col-md-9 col-md-offset-3 text-center" style="height:30px"><%= t "edit_personal.delete_info" %></div>
              
            <div class="form-group" id="lang_to_teach_1">
              <%= f.label :lang_to_teach_1, ( t "edit_personal.language_to_teach" ), class: "col-md-3 control-label" %>
              <div class="col-md-3">
                <%= f.select :lang_to_teach_1, options_for_select([[( t "edit_personal.select" ), ''], ['English', 'English'], ['한국어', 'Korean'], ['中文', 'Chinese']], selected: current_user.lang_to_teach_1), {}, { :class => 'form-control' } %>
              </div>
              <%= f.label :rank_to_teach_1, ( t "edit_personal.level" ), class: "col-md-1 control-label" %>
              <div class="col-md-5">
                <%= f.select :rank_to_teach_1, options_for_select([[( t "edit_personal.select" ), ''], [( t "edit_personal.level3" ), '중상급'], [( t "edit_personal.level4" ), '고급'], [( t "edit_personal.level5" ), '모국어']], selected: current_user.rank_to_teach_1), {}, { :class => 'form-control' } %>
              </div>
            </div>
    
            <div class="form-group" id="lang_to_teach_2" style="display: none;">
              <div class="col-md-3">&nbsp;</div>
              <div class="col-md-3">
                <%= f.select :lang_to_teach_2, options_for_select([[( t "edit_personal.select" ), ''], ['English', 'English'], ['한국어', 'Korean'], ['中文', 'Chinese']], selected: current_user.lang_to_teach_2), {}, { :class => 'form-control' } %>
              </div>
              <%= f.label :rank_to_teach_2, ( t "edit_personal.level" ), class: "col-md-1 control-label" %>
              <div class="col-md-4">
                <%= f.select :rank_to_teach_2, options_for_select([[( t "edit_personal.select" ), ''], [( t "edit_personal.level3" ), '중상급'], [( t "edit_personal.level4" ), '고급'], [( t "edit_personal.level5" ), '모국어']], selected: current_user.rank_to_teach_2), {}, { :class => 'form-control' } %>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-primary" onclick="removeItem(this, 'teach')">&times;</button>
              </div>
            </div>
    
            <div class="form-group" id="lang_to_teach_3" style="display: none;">
              <div class="col-md-3">&nbsp;</div>
              <div class="col-md-3">
                <%= f.select :lang_to_teach_3, options_for_select([[( t "edit_personal.select" ), ''], ['English', 'English'], ['한국어', 'Korean'], ['中文', 'Chinese']], selected: current_user.lang_to_teach_3), {}, { :class => 'form-control' } %>
              </div>
              <%= f.label :rank_to_teach_3, ( t "edit_personal.level" ), class: "col-md-1 control-label" %>
              <div class="col-md-4">
                <%= f.select :rank_to_teach_3, options_for_select([[( t "edit_personal.select" ), ''], [( t "edit_personal.level3" ), '중상급'], [( t "edit_personal.level4" ), '고급'], [( t "edit_personal.level5" ), '모국어']], selected: current_user.rank_to_teach_3), {}, { :class => 'form-control' } %>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-primary" onclick="removeItem(this, 'teach')">&times;</button>
              </div>
            </div>
    
            <div class="row" id="add_lang_to_teach">
              <a class="col-md-2 col-md-offset-3" style="height: 30px; cursor: pointer;"><%= t "edit_personal.add_language" %></a>
              <div class="col-md-7"></div>
            </div>
    
            <div class="form-group" id="lang_to_learn_1">
              <%= f.label :lang_to_learn_1, ( t "edit_personal.language_to_learn" ), class: "col-md-3 control-label" %>
              <div class="col-md-3">
                <%= f.select :lang_to_learn_1, options_for_select([[( t "edit_personal.select" ), ''], ['English', 'English'], ['한국어', 'Korean'], ['中文', 'Chinese']], selected: current_user.lang_to_learn_1), {}, { :class => 'form-control' } %>
              </div>
              <%= f.label :rank_to_learn_1, ( t "edit_personal.level" ), class: "col-md-1 control-label" %>
              <div class="col-md-5">
                <%= f.select :rank_to_learn_1, options_for_select([[( t "edit_personal.select" ), ''], [( t "edit_personal.level1" ), '초급'], [( t "edit_personal.level2" ), '중하급'], [( t "edit_personal.level3" ), '중상급'], [( t "edit_personal.level4" ), '고급']], selected: current_user.rank_to_learn_1), {}, { :class => 'form-control' } %>
              </div>
            </div>
    
            <div class="form-group" id="lang_to_learn_2" style="display: none;">
              <div class="col-md-3">&nbsp;</div>
              <div class="col-md-3">
                <%= f.select :lang_to_learn_2, options_for_select([[( t "edit_personal.select" ), ''], ['English', 'English'], ['한국어', 'Korean'], ['中文', 'Chinese']], selected: current_user.lang_to_learn_2), {}, { :class => 'form-control' } %>
              </div>
              <%= f.label :rank_to_learn_2, ( t "edit_personal.level" ), class: "col-md-1 control-label" %>
              <div class="col-md-4">
                <%= f.select :rank_to_learn_2, options_for_select([[( t "edit_personal.select" ), ''], [( t "edit_personal.level1" ), '초급'], [( t "edit_personal.level2" ), '중하급'], [( t "edit_personal.level3" ), '중상급'], [( t "edit_personal.level4" ), '고급']], selected: current_user.rank_to_learn_2), {}, { :class => 'form-control' } %>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-primary" onclick="removeItem(this, 'learn')">&times;</button>
              </div>
            </div>
    
            <div class="form-group" id="lang_to_learn_3" style="display: none;">
              <div class="col-md-3">&nbsp;</div>
              <div class="col-md-3">
                <%= f.select :lang_to_learn_3, options_for_select([[( t "edit_personal.select" ), ''], ['English', 'English'], ['한국어', 'Korean'], ['中文', 'Chinese']], selected: current_user.lang_to_learn_3), {}, { :class => 'form-control' } %>
              </div>
              <%= f.label :rank_to_learn_3, ( t "edit_personal.level" ), class: "col-md-1 control-label" %>
              <div class="col-md-4">
                <%= f.select :rank_to_learn_3, options_for_select([[( t "edit_personal.select" ), ''], [( t "edit_personal.level1" ), '초급'], [( t "edit_personal.level2" ), '중하급'], [( t "edit_personal.level3" ), '중상급'], [( t "edit_personal.level4" ), '고급']], selected: current_user.rank_to_learn_3), {}, { :class => 'form-control' } %>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-primary" onclick="removeItem(this, 'learn')">&times;</button>
              </div>
            </div>
    
            <div class="row" id="add_lang_to_learn">
              <a class="col-md-2 col-md-offset-3" style="height: 30px; cursor: pointer;"><%= t "edit_personal.add_language" %></a>
              <div class="col-md-7"></div>
            </div>
                
            <div class="col-md-9 col-md-offset-3 text-center" style="height:30px"><%= t "edit_personal.password_info" %></div>
            
            <!--div class="form-group">
              <label for="currentPassword" class="col-md-3 control-label"><%#= t "edit_personal.current_password" %></label>
              <div class="col-md-9">
                <%#= f.password_field :current_password, class: "form-control", :placeholder => ( t "edit_personal.current_password_describe" ), autocomplete: "off" %>
              </div>
            </div-->



            <div class="form-group">
              <div class="col-md-4 col-md-offset-3">
                <%= f.submit ( t "edit_personal.finish" ), :class => "col-md-6 btn btn-primary" %>
                <%= link_to ( t "edit_personal.withdrawal" ), disable_user_path, id: 'disable_btn', class: "btn btn-primary col-md-6" %>
              </div>
              <div class="col-md-5">
                <%= devise_error_messages! %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  teach_num = 1;
  learn_num = 1; 

  $(document).ready(function(){
    $('#add_lang_to_teach').click(function(){
      if (teach_num == 1) {
        teach_num++;
        $('#lang_to_teach_2').fadeIn('slow'); 
      } else if (teach_num == 2) {
        teach_num++;
        $('#lang_to_teach_3').fadeIn('slow'); 
        $(this).hide();
      }
    });
    $('#add_lang_to_learn').click(function(){
      if (learn_num == 1) {
        learn_num++;
        $('#lang_to_learn_2').fadeIn('slow',function(){}); 
      } else if (learn_num == 2) {
        learn_num++;
        $('#lang_to_learn_3').fadeIn('slow',function(){}); 
        $(this).hide();
      }
    });
    $('#disable_btn').click(function(e){
      if (!confirm('Are U sure?')){
        e.preventDefault();
      }
    });
  });

  function removeItem(object, cate)
  {
    $(object).parent().parent().fadeOut('slow');

    if (cate == "teach") {
      teach_num--;
      if (teach_num == 2) {
        $('#add_lang_to_teach').fadeIn('slow');
      }
    } else if (cate == "learn") {
      learn_num--;
      if (learn_num == 2) {
        $('#add_lang_to_learn').fadeIn('slow');
      } else {
        return -1;
      }
    }
  }
</script>
