<div class="container">
  <div class="panel panel-default col-md-10 col-md-offset-1">
    <div class="panel-body">
      <legend><%= t "coin.buy_page.title" %></legend>
      <form class="form-horizontal" id="new_user" enctype="multipart/form-data" action="/submit_purchase" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="buN1IFAyA+Q+l4ZC4oii/wZXe3gTNh8wYnP+UoSYM4Mhe4a9wCh9Tgg3b4udtQ0uFLKG9s/SGXma/MmwSnyA0Q==" />
        
        <div class="form-group">
          <label class="col-md-2 control-label"><%= t "coin.buy_page.info_title" %></label>
          <div class="col-md-10">
            <div class="box-control">
              1. 본인 확인을 위해 입금자정보를 확인하게 되었습니다.<br>
              2. 영업일(월~금요일) 오전 9시~오후 6시에 구매 신청 및 입금 시 당일 오후 6시~7시에 코인이 충전됩니다.<br>
              3. 영업일(월~금요일) 오후 6시 이후에 구매 신청 및 입금 시 다음 영업일 오전 8시~9시에 코인이 충전됩니다.<br>
              4. 비영업일(토~일요일, 공휴일)에 구매 신청 및 입금 시, 다음 영업일 오전 8시~9시에 코인이 충전됩니다.<br>
              5. 랭디 고객의 개인정보는 안전하게 보호되며, 본인 확인 완료 후 완전히 삭제됩니다.
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="input_current_coin" class="col-md-2 control-label"><%= t "coin.buy_page.current_coin" %></label>
          <div class="col-md-10">
            <div class="form-control">
            <%= current_user.cash %><%= t "coin" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="input_howmany_coins" class="col-md-2 control-label"><%= t "coin.buy_page.buying_coin" %></label>
          <div class="col-md-10">
            <select class="form-control" name="user[howmany_coins]" id="user_howmany_coins">
              <option value="5coins">5 <%= t "coin" %></option>
              <option value="10coins">10 <%= t "coin" %></option>
              <option value="15coins">15 <%= t "coin" %></option>
              <option value="20coins">20 <%= t "coin" %></option>
              <option value="25coins">25 <%= t "coin" %></option>
              <option value="30coins">30 <%= t "coin" %></option>
              <option value="35coins">35 <%= t "coin" %></option>
              <option value="40coins">40 <%= t "coin" %></option>
              <option value="45coins">45 <%= t "coin" %></option>
              <option value="50coins">50 <%= t "coin" %></option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="input_exchange_coin" class="col-md-2 control-label"><%= t "coin.buy_page.deposit_amount" %></label>
          <div class="col-md-10">
            <div class="box-control">
            한국 금액 : 10,000 ₩(KRW, 원)<br>
            중국 금액 : 10,000 ¥(Yuan, 위안) - 2016.04.03 환율 기준
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="input_howtopay_coins" class="col-md-2 control-label"><%= t "coin.buy_page.deposit_method" %></label>
          <div class="col-md-10">
            <select class="form-control" name="user[howtopay_coins]" id="user_howtopay_coins">
              <option value="bank_transfer"><%= t "coin.buy_page.account_transfer" %></option>
              <option value="alipay"><%= t "coin.buy_page.alipay" %></option>
            </select>
          </div>
        </div>


        <div class="form-group">
          <label for="input_account_information" class="col-md-2 control-label"><%= t "coin.buy_page.account_info" %></label>
          <div class="col-md-10">
            <div class="box-control">
            한국 계좌번호 : (농협) 000 - 00 - 000000<br>
            알리페이 : 00000
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="input_buyer_information" class="col-md-2 control-label"><%= t "coin.buy_page.name/id" %>/ID</label>
          <div class="col-md-10">
            <input class="form-control" placeholder=(t "coin.buy_page.name/id_describe") autofocus="autofocus" type="text" name="user[buyer_information]" id="user_buyerinformation" />
          </div>
        </div>

        <div class="form-group">
          <label for="input_buyer_account" class="col-md-2 control-label"><%= t "coin.buy_page.account_number" %></label>
          <div class="col-md-10">
            <input class="form-control" placeholder=(t "coin.buy_page.account_number_describe") autofocus="autofocus" type="text" name="user[buyer_account]" id="user_buyeraccount" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3 col-md-offset-2">
            <input type="submit" name="commit" value=(t "coin.buy_page.finish") class="btn btn-primary"/>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
