<div class="container">
  <div class="panel panel-default col-md-10 col-md-offset-1">
    <div class="panel-body">
      <legend><%= t "coinpage.buy_page.title" %></legend>
      <form class="form-horizontal" id="new_user" enctype="multipart/form-data" action="/submit_purchase" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="buN1IFAyA+Q+l4ZC4oii/wZXe3gTNh8wYnP+UoSYM4Mhe4a9wCh9Tgg3b4udtQ0uFLKG9s/SGXma/MmwSnyA0Q==" />
        
        <div class="form-group">
          <label class="col-md-2 control-label"><%= t "coinpage.buy_page.info_title" %></label>
          <div class="col-md-10">
            <div class="box-control">
              <%= t "coinpage.buy_page.info_describe1" %><br>
              <%= t "coinpage.buy_page.info_describe2" %><br>
              <%= t "coinpage.buy_page.info_describe3" %><br>
              <%= t "coinpage.buy_page.info_describe4" %><br>
              <%= t "coinpage.buy_page.info_describe5" %>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="input_current_coin" class="col-md-2 control-label"><%= t "coinpage.buy_page.current_coin" %></label>
          <div class="col-md-10">
            <div class="form-control">
              <%= current_user.cash %><%= t "coin" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="input_howmany_coins" class="col-md-2 control-label"><%= t "coinpage.buy_page.buying_coin" %></label>
          <div class="col-md-10">
            <select class="form-control" name="how_many" id="user_howmany_coins">
              <option value="5coins">5 <%= t "coin" %></option>
              <option value="10coins">10 <%= t "coin" %></option>
              <option value="15coins">15 <%= t "coin" %></option>
              <option value="20coins">20 <%= t "coin" %></option>
              <option value="25coins">25 <%= t "coin" %></option>
              <option value="30coins">30 <%= t "coin" %></option>
              <option value="35coins">35 <%= t "coin" %></option>
              <option value="40coins">40 <%= t "coin" %></option>
              <option value="45coins">45 <%= t "coin" %></option>
              <option value="50coins">50 <%= t "coin" %></option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="input_exchange_coin" class="col-md-2 control-label"><%= t "coinpage.buy_page.deposit_amount" %></label>
          <div class="col-md-10">
            <div class="box-control">
            <%= t "coinpage.buy_page.amount_describe1" %><br>
            <%= t "coinpage.buy_page.amount_describe2" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="input_howtopay_coins" class="col-md-2 control-label"><%= t "coinpage.buy_page.deposit_method" %></label>
          <div class="col-md-10">
            <select class="form-control" name="how_to_pay" id="user_howtopay_coins">
              <option value="bank_transfer"><%= t "coinpage.buy_page.account_transfer" %></option>
              <option value="alipay"><%= t "coinpage.buy_page.alipay" %></option>
            </select>
          </div>
        </div>


        <div class="form-group">
          <label for="input_account_information" class="col-md-2 control-label"><%= t "coinpage.buy_page.account_info" %></label>
          <div class="col-md-10">
            <div class="box-control">
            <%= t "coinpage.buy_page.account_describe1" %><br>
            <%= t "coinpage.buy_page.account_describe2" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="input_buyer_information" class="col-md-2 control-label"><%= t "coinpage.buy_page.name/id" %></label>
          <div class="col-md-10">
            <input class="form-control" placeholder=<%= t "coinpage.buy_page.name/id_describe" %> autofocus="autofocus" type="text" name="account_holder" id="user_buyerinformation" />
          </div>
        </div>

        <div class="form-group">
          <label for="input_buyer_account" class="col-md-2 control-label"><%= t "coinpage.buy_page.account_number" %></label>
          <div class="col-md-10">
            <input class="form-control" placeholder=<%= t "coinpage.buy_page.account_number_describe" %> autofocus="autofocus" type="text" name="account_number" id="user_buyeraccount" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3 col-md-offset-2">
            <input type="submit" name="commit" value=<%= t "coinpage.buy_page.finish" %> class="btn btn-primary"/>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
