<div class="container">
  <div class="panel panel-default col-md-10 col-md-offset-1">
    <div class="panel-body">
      <legend><%= t "coinpage.history_page.title" %> </legend>
      <!-- 거래ID|일시|내용|거래액|잔액 -->
      <table class="table" style="margin-bottom:0px">
        <thead>
          <tr>
            <th style="width:15%"><%= t "coinpage.history_page.transaction_id" %></th>
            <th style="width:15%"><%= t "coinpage.history_page.date" %></th>
            <th style="width:40%"><%= t "coinpage.history_page.describe" %></th>
            <th style="width:15%"><%= t "coinpage.history_page.transaction_coin" %></th>
            <th style="width:15%"><%= t "coinpage.history_page.current_coin" %></th>
          </tr>
        </thead>
      </table>
      <div class="coinhistory-panel">
        <table class="table table-hover">
          <tbody>
            <% @coin_histories.each do |item| %>
              <% if item.is_buycoin and !item.buycoin_complete %>
                <tr>
                <td style="width:15%">2134adsf</td>
                <td style="width:15%"><%= item.time.to_formatted_s(:db) %></td>
                <td style="width:40%"><%= t "coinpage.history_page.describe1" %></td>
                <td style="width:15%"><%= item.amount %><%= t "coin" %></td>
                <td style="width:15%"><%= current_user.cash %><%= t "coin" %></td>
                </tr>
                <% elsif item.buycoin_complete %>
                <tr>
                <td style="width:15%">2134adsf</td>
                <td style="width:15%"><%= item.time.to_formatted_s(:db) %></td>
                <td style="width:40%"><%= t "coinpage.history_page.describe2" %></td>
                <td style="width:15%"><%= item.amount %><%= t "coin" %></td>
                <td style="width:15%"><%= current_user.cash %><%= t "coin" %></td>
                </tr>
                <% elsif item.is_exchange and !item.exchange_comlete %>
                <tr>
                <td style="width:15%">2134adsf</td>
                <td style="width:15%"><%= item.time.to_formatted_s(:db) %></td>
                <td style="width:40%"><%= t "coinpage.history_page.describe3" %></td>
                <td style="width:15%"><%= item.amount %><%= t "coin" %></td>
                <td style="width:15%"><%= current_user.cash %><%= t "coin" %></td>
                </tr>
                <% elsif item.exchange_comlete %>
                <tr>
                <td style="width:15%">2134adsf</td>
                <td style="width:15%"><%= item.time.to_formatted_s(:db) %></td>
                <td style="width:40%"><%= t "coinpage.history_page.describe4" %></td>
                <td style="width:15%"><%= item.amount %><%= t "coin" %></td>
                <td style="width:15%"><%= current_user.cash %><%= t "coin" %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
