<div class="container">
  <div class="outer">
    <div class="inner">
      <div class="mainpagebutton">
        <a href="<%= url_for(:buycoin) %>">
        <h3><%= t "coinpage.mainpage.buy_button_title" %></h3>
        <p><%= t "coinpage.mainpage.buy_button_describe" %></p>
        </a>
      </div>
      <div class="mainpagebutton">
        <a href="<%= url_for(:sellcoin) %>">
        <h3><%= t "coinpage.mainpage.sell_button_title" %></h3>
        <p><%= t "coinpage.mainpage.sell_button_describe" %></p>
        </a>
      </div>
      <div class="mainpagebutton">
        <a href="<%= url_for(:coinhistory) %>">
        <h3><%= t "coinpage.mainpage.history_button_title" %></h3>
        <p><%= t "coinpage.mainpage.history_button_describe" %></p>
        </a>
      </div>
    </div>
  </div>
</div>