<div class="container">
  <div class="panel panel-default col-md-10 col-md-offset-1">
    <div class="panel-body">
      <legend><%= t "coinpage.sell_page.title" %></legend>
      <form class="form-horizontal" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="buN1IFAyA+Q+l4ZC4oii/wZXe3gTNh8wYnP+UoSYM4Mhe4a9wCh9Tgg3b4udtQ0uFLKG9s/SGXma/MmwSnyA0Q==" />

        <div class="form-group">
          <label class="col-md-2 control-label"><%= t "coinpage.sell_page.info_title" %></label>
          <div class="col-md-10">
            <div class="box-control">
              <%= t "coinpage.sell_page.info_describe1" %><br>
              <%= t "coinpage.sell_page.info_describe2" %><br>
              <%= t "coinpage.sell_page.info_describe3" %><br>
              <%= t "coinpage.sell_page.info_describe4" %><br>
              <%= t "coinpage.sell_page.info_describe5" %>
            </div>
          </div>
        </div>
        
        <div class="form-group">
        <label for="input_current_coin" class="col-md-2 control-label"><%= t "coinpage.sell_page.current_coin" %></label>
          <div class="col-md-10">
            <div class="form-control">
              <%= current_user.cash %><%= t "coin" %>
            </div>
          </div>
        </div>
  
        <div class="form-group">
        <label for="input_howmany_coins" class="col-md-2 control-label"><%= t "coinpage.sell_page.selling_coin" %></label>
          <div class="col-md-10">
            <select class="form-control" name="user[howmany_exchange]" id="user_howmany_exchange">
              <option value="50coins">50 <%= t "coin" %></option>
              <option value="60coins">60 <%= t "coin" %></option>
              <option value="70coins">70 <%= t "coin" %></option>
              <option value="80coins">80 <%= t "coin" %></option>
              <option value="90coins">90 <%= t "coin" %></option>
              <option value="100coins">100 <%= t "coin" %></option></select>
          </div>
        </div>
  
        <div class="form-group">
        <label for="input_exchange_coin" class="col-md-2 control-label"><%= t "coinpage.sell_page.withdrawal_amount" %></label>
          <div class="col-md-10">
            <div class="box-control">
              <%= t "coinpage.sell_page.amount_describe1" %><br>
              <%= t "coinpage.sell_page.amount_describe2" %><br>
              <%= t "coinpage.sell_page.amount_describe3" %><br>
            </div>
          </div>
        </div>
  
        <div class="form-group">
        <label for="input_howtopay_coins" class="col-md-2 control-label"><%= t "coinpage.sell_page.withdrawal_method" %></label>
          <div class="col-md-10">
            <select class="form-control" name="user[howtoexchange_coins]" id="user_howtoexchange_coins">
              <option value="bank_transfer"><%= t "coinpage.sell_page.account_transfer" %></option>
              <option value="alipay"><%= t "coinpage.sell_page.alipay" %></option></select>
          </div>
        </div>
  
        <div class="form-group">
        <label for="input_buyer_information" class="col-md-2 control-label"><%= t "coinpage.sell_page.name/id" %></label>
          <div class="col-md-10">
            <input class="form-control" placeholder=<%= t "coinpage.sell_page.name/id_describe" %> autofocus="autofocus" type="text" name="user[buyer_information]" id="user_buyerinformation" />
          </div>
        </div>
  
        <div class="form-group">
        <label for="input_buyer_account" class="col-md-2 control-label"><%= t "coinpage.sell_page.account_numbe" %></label>
          <div class="col-md-10">
            <input class="form-control" placeholder=<%= t "coinpage.sell_page.account_number_describe" %> autofocus="autofocus" type="text" name="user[buyer_account]" id="user_buyeraccount" />
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-md-3 col-md-offset-2">
            <input type="submit" name="commit" value=<%= t "coinpage.sell_page.finish" %> class="btn btn-primary"/>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
