<div class="container">
  <div class="row">
    <%= render partial: 'teachers/curriculum_modal' %>

    <!-- left box -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <h3 style="margin-top:5px"><%= t "classroom.curriculum.title"%></h3>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-sm btn-primary col-md-10" data-toggle="modal" data-target="#curriculumModal">
            <%= t "classroom.curriculum.modal_title"%>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="curri_text" style="height:540px; padding: 20px"></div>
        </div>
      </div>
    </div>
    <!-- left box -->

    <!-- right box -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <h3 style="margin-top:5px"><%= t "classroom.memo.title"%></h3>
        </div>
        <div class="col-md-9">
          <button id="memo_save_btn" type="button" class="btn btn-sm btn-primary col-md-4"><%= t "classroom.memo.save_button"%></button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <textarea id="memo_text" class="col-md-12" style="height:540px;"></textarea>
        </div>
      </div>
    </div>
    <!-- right box -->
  </div>
</div>
 
<script src="/assets/bootstrap-treeview.js"></script>
<script src="/assets/myLecture_room.js"></script>
<script tpye="text/javascript">
  var course_id = 0;
  $(document).ready(function(){
    loadLessons(true);
    $('#curri_btn').click(function(){
      lesson_id = showSelectCourse();
    });
    $('#memo_save_btn').click(function(){
      saveMemo(lesson_id, $('#memo_text').val());
    });
  });
</script>

<script tpye="text/javascript">
  loadCourses(1);
</script>
