<div class="container fixed-container">
  <%= render partial: 'teachers/curriculum_modal' %>
  <div class="row">
    
    <!-- left box -->
    <div class="col-md-7 col-sm-12">
      <!-- contents box -->
      <div style="margin-bottom:15px">
        <div class="row">
          <div class="col-xs-3">
            <h3 style="margin-top:5px"><%= t "classroom.curriculum.title"%></h3>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-sm btn-primary col-xs-10" data-toggle="modal" data-target="#curriculumModal">
              <%= t "classroom.curriculum.modal_title"%>
            </button>
          </div>
          <div class="col-xs-5">
            <button type="button" class="btn btn-sm btn-primary col-xs-6" data-toggle="modal" data-target="#notify_modal"><%= t "classroom.report.modal_title"%></button>
            <button id="end_lesson_btn" type="button" class="btn btn-sm btn-primary col-xs-6" data-toggle="modal" data-target="#end_lesson_modal"><%= t "classroom.rate.modal_title"%></button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="curri_text" style="padding: 20px"></div>
          </div>
        </div>
      </div>
      <!-- contents box -->
      <!-- memo box -->
      <div>
        <div class="row">
          <div class="col-xs-3">
            <h3 style="margin-top:5px"><%= t "classroom.memo.title"%></h3>
          </div>
          <div class="col-xs-9">
            <button id="memo_save_btn" type="button" class="btn btn-sm btn-primary col-xs-4"><%= t "classroom.memo.save_button"%></button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <textarea id="memo_text" class="col-xs-12"></textarea>
          </div>
        </div>
      </div>
      <!-- memo box -->
    </div>  
    <!-- left box -->

    <!-- right box -->
    <div class="col-md-5 hidden-md hidden-sm hidden-xs text-center">
      <div class="row">
        <div class="col-md-12 lectureroom-info" style="margin-top:39px">
          <h3><%= t "classroom.skype_guide"%></h3>
        </div>
      </div>
    </div>
    <!-- right box -->
  </div>
</div>

<!-- 신고 Modal -->
<div class="modal fade" id="notify_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t "classroom.report.modal_title" %></h4>
      </div>
      <div class="modal-body">
        <p>
          <%= t "classroom.report.modal_describe1"%>
        </p>
        <p>
          <%= t "classroom.report.modal_describe2"%>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "classroom.report.finish"%></button>
        <!--<button type="button" class="btn btn-primary">신고</button>-->
      </div>
    </div>
  </div>
</div>
<!-- 신고 Modal -->

<!-- 강의종료 Modal -->
<div class="modal fade" id="end_lesson_modal" tabindex="-1" role="dialog" aria-labelledby="curriculumLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="curriculumLabel"><%= t "classroom.rate.modal_title"%></h4>
      </div>
      <div id="rate_body" class="modal-body">
        <h3 id="teacher_name"></h3>
        <% for i in 1..5 do %>
          <input type="radio" name="rating" value="<%= i %>"> <%= i %>점
        <% end %>
        <br>
        <br>
        <div class="form-group">
          <label for="comment"><%= t "classroom.rate.review_title"%></label>
          <input type="text" class="form-control" id="comment" name="comment" placeholder="평가를 남겨주세요">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "classroom.rate.cancel"%></button>
        <button id="rate_btn" type="button" class="btn btn-primary"><%= t "classroom.rate.finish"%></button>
      </div>
    </div>
  </div>
</div>
<!-- 강의종료 Modal -->

<script src="/assets/myLecture_room.js"></script>
<script tpye="text/javascript">
  var lesson_id = 0;
  $(document).ready(function(){
    loadLessons(true);
    $('#curri_btn').click(function(){
      $('#rate_btn').attr('disabled', false);
      $('#rate_body').show();
      lesson_id = showSelectLesson();
    });
    $('#memo_save_btn').click(function(){
      saveMemo(lesson_id, $('#memo_text').val());
    });
    $('#rate_btn').click(function(e){
      if ($('input[name="rating"]:checked').val()) {
        evalLesson(lesson_id, $('input[name="rating"]:checked').val(), $('input[name="comment"]').val());
      }
      else {
        alert('점수를 선택해 주세요');
      }
    })
  });
</script>

<script tpye="text/javascript">
  loadCourses(1);
</script>
