<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <%= render partial: '/admin/menu_list' %>
      </div>
    </div>

    <div class="panel panel-default col-md-10">
      <div class="panel-body">

        <div class="dropdown">
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          분류
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="/admin/feedback"> 전체 </a></li>
            <li><a href="/admin/feedback?cat=website"> 웹 사이트 기능 관련 </a></li>
            <li><a href="/admin/feedback?cat=curriculum"> 커리큘럼 관련 </a></li>
            <li><a href="/admin/feedback?cat=others"> 기타 </a></li>
          </ul>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:10%">피드백 번호</th>
              <th style="width:10%">카테고리</th>
              <th style="width:10%">유저 이름</th>
              <th style="width:20%">유저 아이디</th>
              <th style="width:50%">내용</th>
            </tr>
          </thead>
          
          <tbody>
            <% @feedbacks.each do |f| %>
                <tr>
                  <td style="width:10%"><%= f.id %></td>
                  <td style="width:10%"><%= f.cat %></td>
                  <td style="width:10%"><%= User.unscoped{ f.user.name } %></td>
                  <td style="width:20%"><%= User.unscoped{ f.user.email } %></td>
                  <td style="width:50%"><%= f.text %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</div>

