<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <%= render partial: '/admin/menu_list' %>
      </div>
    </div>
    
    <div class="panel panel-default col-md-10">
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:15%">유저 번호</th>
              <th style="width:15%">유저 이름</th>
              <th style="width:30%">유저 이메일</th>
              <th style="width:15%">유저 코인 잔액</th>
              <th style="width:25%">유저 코인 변경</th>
            </tr>
          </thead>
          
          <tbody>
            <% @users.each do |u| %>
              <%= form_tag(set_cash_path(u.id), method: 'post') do %>
                <tr>
                  <td style="width:15%"><%= u.id %></td>
                  <td style="width:15%"><%= u.name %></td>
                  <td style="width:30%"><%= u.email %></td>
                  <td style="width:15%"><%= u.cash %> 코인</td>
                  <td style="width:25%">
                    <input class="col-md-8" name="amount" type="number">
                    <input class="col-md-4" type="submit" value="변경">
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
      
  </div>
</div>

