<div class="container" id="dashboard_container">
  <div class="row">

    <!-- Left column -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div  class="col-md-12 text-center">
            <% if current_user.profile_pic.url.nil? %>
              <img src="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png" class="profile-pic" height="180" width="180"/>
            <% else %>
              <img src=<%= current_user.profile_pic.url %> class="profile-pic" height="180" width="180"/>
            <% end %>
          </div>
          <div class="col-md-12 text-center">
            <h3><%= current_user.name %></h3>
          </div>
          <div class="col-md-12 text-center">
            <a href="/purchase" class="btn btn-sm btn-primary">
              <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
              <%= current_user.cash %>코인
            </a>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
          <%= link_to edit_user_registration_path do %>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            개인 프로필
          <% end %>
          </li>
          <li class="list-group-item">
          <%= link_to edit_teacher_info_path do %>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              학습 프로필
            <% end %>
          </li>
        </ul>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">
            <h5>
              언제든지 의견을 남겨주세요. 여러분의 의견에 항상 귀기울이겠습니다.
            </h5>
            <div class="form-group">
              <%= form_for :feedback, url: feedback_path do |f| %>
                <div>
                  <select class="form-control" name="cat">
                    <option value="" disabled selected hidden>카테고리 선택</option>
                    <option value="website">웹 사이트 기능 관련</option>
                    <option value="curriculum">커리큘럼 관련</option>
                    <option value="others">기타</option>
                  </select>
                </div>
                <%= f.text_area :text, :autocomplete => :off, rows: "5", class: "col-md-12 form-control" %>
                <%= f.submit "피드백 남기기", class: "btn btn-sm btn-primary col-md-12" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Left column -->

    <!-- Right column -->
    <div class="col-md-9">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="lectureinfo-panel-heading">
              <h3> 강의시간표 </h3>
            </div>
            <div class="panel-body">
              <div class="go-demo-box"></div>
              <!-- Event Calendar by DayPilot -->
              <div id="dp"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-6" style="padding-right:2px;">
          <div class="panel panel-default">
            <div class="lectureinfo-panel-heading">
              <h3>내가 신청한 강의</h3>
            </div>
            <div class="panel-body lectureinfo-panel">
              <% @lesson_applying.each do |item| %>
                <div class="row" id="lesson_applying<%= item.id %>">
                  <div class=lectureinfo>  
                    <h4><%= item.teacher.name %>님에게 강의를 신청하였습니다.</h4>
                    <h5>강의 시간 : <%= item.get_period.html_safe %><h5>
                    <h5>커리큘럼 : <%= item.course.lang %> <%= item.course.rank %> <%= item.course.subject %><h5>
                    <h5>강의료 : <%= item.get_price.html_safe %> 코인</h5>
                    <h5>스카이프 아이디 : <%= item.teacher.teacher_info.skype_id %></h5>
                  </div> 
                </div>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="col-md-6" style="padding-left:2px;">
          <div class="panel panel-default">
            <div class="lectureinfo-panel-heading">
              <h3>나에게 신청된 강의</h3>
            </div>
            <div class="panel-body lectureinfo-panel">
              <% @lesson_applied.each do |item| %>
                <div class="row" id="lesson_applied<%= item.id %>">
                  <div class=lectureinfo>
                    <h4><%= item.student.name %>님이 강의를 신청하였습니다.<span data-lesson_id="<%= item.id.to_s %>" id="confirm_span<%= item.id.to_s %>"><%= item.get_confirm_teacher.html_safe %></span></h4>
                    <h5>강의 시간 : <%= item.get_period.html_safe %><h5>
                    <h5>커리큘럼 : <%= item.course.lang %> <%= item.course.rank %> <%= item.course.subject %><h5>
                    <h5>강의료 : <%= item.get_price.html_safe %> 코인</h5>
                    <h5>스카이프 아이디 : <%= item.student.teacher_info.skype_id %></h5>
                  </div>    
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        
    <!-- Right column -->

  </div>
</div>

<script src="/assets/daypilot-all.min.js" type="text/javascript"></script>
<script src="/assets/mySchedule.js" type="text/javascript"></script>
<script type="text/javascript">
  var my_avail = new Teacher_Schedule('<%= current_user.get_schedule %>');
  var dp = new DayPilot.Calendar("dp");
  show_availables_on_calendar(dp,my_avail);
  dp.viewType = "Week";
  dp.eventMoveHandling = "Disabled";

  dp.init();

  loadEvents();

  //load available times

  eventStatic = null; // 이벤트 전역 변수
  // 셀렉트 이벤트 바인딩
  dp.onTimeRangeSelected = function (args) {
    name = "name";
    var e = new DayPilot.Event({
      start: args.start,
      end: args.end,
      id: DayPilot.guid(),
      resource: args.resource,
      text: name
    });

    eventStatic = e;
    // dp.events.add(e);

    // $('#selectTimeModal').modal("hide");
  };

  function loadEvents() {
    $.post("/get_lessons",   // in ASP.NET MVC, use "backend/events"
        {
          user_id: <%= current_user.id %>,
          start: "'" + dp.visibleStart().toString().replace("T", " [").concat("]'"),
          end: "'" + dp.visibleEnd().toString().replace("T", " [").concat("]'")
        },
    function(data, status, xhr) {
      dp.events.list = data;
      dp.update();
    });
  }

  $(document).ready(function(){
    $('.confirm_btn').click(function(){
      confirm_lesson($(this).data('confirmed'), $(this).parent().data('lesson_id'));
    });
  });
</script>
