<div class="container">
  <div class="outer">
    <div class="inner">
      <div class="panel panel-default">
          <div class="panel-body">
            <h4><%= t "request_complete.exchange_message1" %><br><br>
            <%= t "request_complete.exchange_message2" %><br><br>
            <%= t "request_complete.exchange_message3" %>
            </h4>
          </div>
          <div class="panel-body">
            <div style="padding:100px">
              적당한 이미지
            </div>
            <div>
              <a class="btn btn-primary" href="/dashboard" role="button"><%= t "request_complete.button_to_mypage" %></a>
            </div>
          </div>
          <div class="panel-body">
            <h4>
            <%= t "request_complete.bottom_message1" %><br><br>
            <%= t "request_complete.bottom_message2" %>
            </h4>
          </div>    
      </div>
    </div>
  </div>
</div>