<% if @teachers.empty? %>
  <h3>
    Sorry. There's no corresponding teacher.
  </h3>
<% else %>
  <% @teachers.each do |t| %>
    <ul class="media-list">
      <div class="panel panel-default">
        <div class="panel-body">
          <li class="media">
            <div class="media-left">
              <%= link_to teacher_path(t) do %>
                <% if t.profile_pic.url.nil? %>
                  <img class="media-object profile-pic" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQV5Y81SdqnTLFEXe_h-4KA2uT4DuNhON4XU32Ut6JkTl2rFDEiOMnmOA" alt="..." height="126" width="126">
                <% else %>
                  <img class="media-object profile-pic" src=<%= t.profile_pic.url %> alt="..." height="126" width="126">
                <% end %>
              <% end %>
            </div>
            <div class="media-body">
              <div class="col-md-9">
                <div class="col-md-3">
                  <%= link_to teacher_path(t) do %>
                    <h3 class="media-heading">
                      <%= t.name %>
                    </h3>
                  <% end %>
                </div>
                <div class="col-md-9" style="height: 30px;"></div>
                <p>
                <span class="label label-success"><%= t.native_lang %></span>
                /
                <span class="label label-default"><%= t.teacher_info.rating %> rating</span>
                /
                <span class="label label-primary"><%= t.teacher_info.lecture_number %> Lessons finished </span>
                </p>
                <p>
                <%= t.teacher_info.brief_introduction %>
                </p>
              </div>

              <div class="col-md-3">
                <h4 style="margin-top: 50px;">
                  <%= t.teacher_info.lecture_price %> coins / 1 hour
                </h4>
                <%# <a href="#" class="btn btn-success btn-sm col-md-12">Book trial lesson</a> %>
              </div >
            </div>
          </li>
        </div>
      </div>
    </ul>

  <% end %>
<% end %>
