<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <legend><%= t "edit_teaching.title" %></legend>
      <%= form_for :teacher_info, url: update_teacher_info_path, html: {id: "edit_form"} do |f| %>
        <!-- location 우선 제거, 필요 시 개인 프로필에 추가
        <div class="col-md-2" align="center">
          <%#= f.label :location, "Location", class: "control-label" %>
        </div>
        <div class="col-md-10">
          <%#= f.text_field :location, :autocomplete => :off, class: "col-md-12 form-control" %>
        </div>
        -->
        
        <!-- 줄바꿈용 div 우선 제거
        <div class="col-md-12" style="height: 10px"></div>
        -->
        
        <!-- major 제거
        <div class="col-md-2" align="center">
          <%#= f.label :major, "Major", class: "control-label" %>
        </div>
        <div class="col-md-4">
          <%#= f.text_field :major, :autocomplete => :off, class: "col-md-12 form-control" %>
        </div>
        -->
        
        <!-- University 제거
        <div class="col-md-2" align="center">
          <%#= f.label :school_grad, "University graduated", class: "control-label" %>
        </div>
        <div class="col-md-4">
          <%#= f.text_field :school_grad, :autocomplete => :off, class: "col-md-12 form-control" %>
        </div>
        -->
        
        <!--
        <div class="form-group">
          <#%= f.label :lecture_price, "강의료 설정", class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <#%= f.text_area :lecture_price, :autocomplete => :off, :placeholder => "10상품권 이하로 설정해주세요.", class: "form-control", rows: "1" %>
          </div>
        </div>  
        -->
        
        <!--
        <div class="form-group">
          <label for="lecture_price" class="col-md-2 control-label"><%= t "edit_teaching.fee" %></label>
          <div class="col-md-4">
            <%# f.select :lecture_price, options_for_select( [["0 " + (t "coin"), 0],
                                                                ["1 " + (t "coin"), 1],
                                                                ["2 " + (t "coin"), 2],
                                                                ["3 " + (t "coin"), 3],
                                                                ["4 " + (t "coin"), 4],
                                                                ["5 " + (t "coin"), 5],
                                                                ["6 " + (t "coin"), 6],
                                                                ["7 " + (t "coin"), 7],
                                                                ["8 " + (t "coin"), 8],
                                                                ["9 " + (t "coin"), 9],
                                                                ["10 " + (t "coin"), 10]], @teacher_info.lecture_price ), {}, { :class => "form-control" } %>
          </div>
          <div class="col-md-6" style="padding-top:7px">
            <%# t "edit_teaching.fee_describe" %>
          </div>  
        </div>
        -->
        <div class="col-md-12" style="height:10px"></div>
        
        <div class="form-group">
          <%= f.label :skype_id, (t "edit_teaching.skype_id"), class: "col-md-2 control-label" %>
          <div class="col-md-4">
            <%= f.text_area :skype_id, autocomplete: "off", class: "form-control", rows: "1" %>
          </div>
          <div class="col-md-6" style="padding-top:7px">
            <%= t "edit_teaching.skype_id_describe" %>
          </div>
        </div>
        <div class="col-md-12" style="height:10px"></div>
        
        <div class="form-group">
          <%= f.label :brief_introduction, (t "edit_teaching.brief_introduction"), class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.text_area :brief_introduction, :autocomplete => :off, class: "col-md-12 form-control", rows: "2" %>
          </div>
          <div class="col-md-10 col-md-offset-2">
            <%= t "edit_teaching.brief_introduction_describe" %>
          </div>
        </div>
        <div class="col-md-12" style="height:10px"></div>
        
        <div class="form-group">
          <%= f.label :introduction, (t "edit_teaching.introduction"), class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.text_area :introduction, :autocomplete => :off, class: "col-md-12 form-control", rows: "15" %>
          </div>
          <div class="col-md-10 col-md-offset-2">
            <%= t "edit_teaching.introduction_describe" %>
          </div>
        </div>
        <div class="col-md-12" style="height:10px"></div>
        
        <div class="form-group">
          <label class="col-md-2 control-label" style="padding-top:25px"><%= t "edit_teaching.timetable" %></label>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped" style="table-layout: fixed;">
                  <thead>
                    <tr>
                      <% ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'].each do |item| %>
                        <th><%= item %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <% ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'].each do |item| %>
                        <td>
                          <p class='wday_td' id="<%= item %>_td">
                          </p>
                          <a class="schedule_add_trigger" data-toggle="modal" data-target="#schedule_modal" data-wday="<%= item %>">
                            +add schedule
                          </a>
                        </td>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal fade" id="schedule_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= t "edit_teaching.timetable_modal.title" %></h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-4">
                      <span id="wd_text"></span>
                    </div>
                    <div class="col-md-4">
                      <%= t "edit_teaching.timetable_modal.beginning_time" %>
                      <!--<input name="start-time" type="time" class="form-control">-->
                      <select name="start-time" class="form-control">
                        <option value="00:00">00:00</option>
                        <option value="00:30">00:30</option>
                        <option value="01:00">01:00</option>
                        <option value="01:30">01:30</option>
                        <option value="02:00">02:00</option>
                        <option value="02:30">02:30</option>
                        <option value="03:00">03:00</option>
                        <option value="03:30">03:30</option>
                        <option value="04:00">04:00</option>
                        <option value="04:30">04:30</option>
                        <option value="05:00">05:00</option>
                        <option value="05:30">05:30</option>
                        <option value="06:00">06:00</option>
                        <option value="06:30">06:30</option>
                        <option value="07:00">07:00</option>
                        <option value="07:30">07:30</option>
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                        <option value="21:30">21:30</option>
                        <option value="22:00">22:00</option>
                        <option value="22:30">22:30</option>
                        <option value="23:00">23:00</option>
                        <option value="23:30">23:30</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <%= t "edit_teaching.timetable_modal.ending_time" %>
                      <select name="end-time" class="form-control">
                      <!--<input name="end-time" type="time" class="form-control">-->
                        <option value="00:00">00:00</option>
                        <option value="00:30">00:30</option>
                        <option value="01:00">01:00</option>
                        <option value="01:30">01:30</option>
                        <option value="02:00">02:00</option>
                        <option value="02:30">02:30</option>
                        <option value="03:00">03:00</option>
                        <option value="03:30">03:30</option>
                        <option value="04:00">04:00</option>
                        <option value="04:30">04:30</option>
                        <option value="05:00">05:00</option>
                        <option value="05:30">05:30</option>
                        <option value="06:00">06:00</option>
                        <option value="06:30">06:30</option>
                        <option value="07:00">07:00</option>
                        <option value="07:30">07:30</option>
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                        <option value="21:30">21:30</option>
                        <option value="22:00">22:00</option>
                        <option value="22:30">22:30</option>
                        <option value="23:00">23:00</option>
                        <option value="23:30">23:30</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "edit_teaching.timetable_modal.cancel" %></button>
                  <button id="schedule_add_btn" type="button" class="btn btn-primary" data-dismiss="modal" disabled><%= t "edit_teaching.timetable_modal.save" %></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-2"><%= t "edit_teaching.timetable_describe" %></div>
          <input type="hidden" name="week-day">
          <input type="hidden" name="schedules" id="schedules">
          <div class="col-md-10 col-md-offset-2" style="margin-top: 2rem; margin-bottom: 4rem;">
            <%= f.submit (t "edit_teaching.finish"), class: "col-md-3 btn btn-primary" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

<script src="/assets/mySchedule.js"></script>
<script type="text/javascript">
  my_schd = new Teacher_Schedule('<%= current_user.get_schedule %>');
  $(document).ready(function(){
    my_schd.show_schedules();

    $('select[name="start-time"]').change(function(){
      check_add_btn();
    });

    $('select[name="end-time"]').change(function(){
      check_add_btn();
    });

    $('.schedule_add_trigger').click(function(){
      $('#wd_text').text($(this).data('wday'));
      $('input[name="week-day"]').val($(this).data('wday'));
    });

    $('#schedule_add_btn').click(function(){
      my_schd.push_schedule($('input[name="week-day"]').val(), $('select[name="start-time"]').val(), $('select[name="end-time"]').val())
      $('input[name="start-time"]').val('');
      $('input[name="end-time"]').val('');
      my_schd.show_schedules();
    });

    $(document).on('click', '.schedule_delete_btn', function(){
      if(confirm('Are U sure?')){
        my_schd.delete_schedule($(this).data('schedule'));
        my_schd.show_schedules();
      };
    });

    $('#edit_form').submit(function(e){
      $('#schedules').val(my_schd.get_schedule().join(','));
    });

  });
</script>
