<div class="container">
  <div class="row">

    <!-- Left column -->
    <div class="col-md-9">

      <!-- Basic Info -->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-3">
              <% if @teacher.profile_pic.url.nil? %>
                <img class="media-object profile-pic" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQV5Y81SdqnTLFEXe_h-4KA2uT4DuNhON4XU32Ut6JkTl2rFDEiOMnmOA" alt="..." height="126" width="126">
              <% else %>
                <img class="media-object profile-pic" src=<%= @teacher.profile_pic.url %> alt="..." height="126" width="126">
              <% end %>
            </div>
            <div class="col-md-9">
              <h2><%= @teacher.name %></h2>
              <h5>Location : <%= @teacher.teacher_info.location %></h5>
              <br>
              <div class="btn-group" role="group">
                <a class="btn btn-default">
                  Rating
                  <br>
                  5.0
                </a>
                <a class="btn btn-primary">
                  Students
                  <br>
                  132
                </a>
                <a class="btn btn-success">
                  Lessons
                  <br>
                  512
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Basic Info -->

      <!-- Self intro -->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Introduction</h3>
            <hr>
            <%= @teacher.teacher_info.introduction %>
          </div>
        </div>
      </div>
      <!-- Self intro -->

      <!-- Certificate intro -->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Education</h3>
            <hr>
            Studied <%= @teacher.teacher_info.major %> in <%= @teacher.teacher_info.school_grad %>
          <h3>Certificates</h3>
          <hr>
          </div>
        </div>
      </div>
      <!-- Certificate intro -->

      <!-- Comments -->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Comments</h3>
            <hr>

            <div class="col-md-12">
              <% if @teacher.comments.empty? %>
                There's no comment.
              <% else %>

                <% @teacher.comments.each do |c| %>
                  <div class="media">
                    <div class="col-md-2">
                      <div class="media-left">
                        <a href="#">
                          <img src="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png" class="media-object profile-pic col-md-12"/>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="media-body">
                        <h4 class="media-heading"> <%= c.commentor.name %> </h4>
                        <%= c.text %>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <% if c.commentor == current_user %>
                        <%= link_to destroy_teacher_comment_path(c), method: :delete do %>
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
            <div class="col-md-12">
              <hr>
              <div class="form-group">
                <%= form_for :new_comment, url: teacher_comments_path(@teacher) do |f| %>
                  <div class="col-md-10">
                    <%= f.text_field :text, class: "form-control", placeholder: "Leave a comment" %>
                  </div>
                  <div class="col-md-2">
                    <%= f.submit "Submit", class: "btn btn-default" %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Comments -->

      <!-- Schedule -->
      <!--
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3> Schedule </h3>
            <hr>
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th class="col-md-2">#</th>
                  <th class="col-md-2">Mon</th>
                  <th class="col-md-2">Tue</th>
                  <th class="col-md-2">Wed</th>
                  <th class="col-md-2">Thu</th>
                  <th class="col-md-2">Fri</th>
                </tr>
              </thead>
              <tbody>
                <% 10.upto(22).each do |h| %>
                  <tr>
                    <th><%= h %>:00 - <%= h+1 %>:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div> -->
      <!-- Schedule -->

    </div>
    <!-- Left column -->

    <!-- Right column -->
    <div class="col-md-3">
      <div id="lessonSelect" class="panel panel-default">
        <form class="form-horizontal">
          <div class="panel-body">
            <h4> If you want to start lessons </h4>
            <hr>
            <h4>
              900 Chips for 1 hour
            </h4>
            
            <div class="input-group">
              <button type="button" class="btn btn-primary col-md-12" data-toggle="modal" data-target="#selectTimeModal">
                강의 시간 선택
              </button>
              <input type="text" id="disabledTextInput" class="form-control" placeholder="강의 시간을 선택해 주세요" disabled>
              
              <!-- Modal For select time-->
              <div class="modal fade" id="selectTimeModal" tabindex="-1" role="dialog" aria-labelledby="selectTimeLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="selectTimeLabel">강의 시간 선택</h4>
                    </div>
                    <div class="modal-body">
                      <!-- Event Calendar by DayPilot -->
                      <div id="dp">
                        <script src="/assets/daypilot-all.min.js" type="text/javascript"></script>
                        <script type="text/javascript">
                          var dp = new DayPilot.Calendar("dp");
                          dp.viewType = "Week";
                          dp.init();
                        </script>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="input-group">
              <button type="button" class="btn btn-primary col-md-12" data-toggle="modal" data-target="#curriculumModal">
                커리큘럼 선택
              </button>
              <input type="text" id="disabledTextInput" class="form-control" placeholder="커리큘럼을 선택해 주세요" disabled>
              
              <!-- Modal For select time-->
              <div class="modal fade" id="curriculumModal" tabindex="-1" role="dialog" aria-labelledby="curriculumLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="curriculumLabel">커리큘럼 선택</h4>
                    </div>
                    <div class="modal-body">
                      '커리큘럼 들어갈 곳'
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <%= link_to "강의 신청", select_time_path(@teacher), class: "btn btn-success col-md-12" %>
            
            <%= link_to "무료 매칭 신청", select_time_path(@teacher), class: "btn btn-success col-md-12" %>
          </div>
        </form>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h4>
            Contact
          </h4>
          <hr>
          <h4>
            900 Chips for 1 hour
          </h4>
          <a href="#" class="btn btn-default col-md-12">Send a Message</a>
        </div>
      </div>
    </div>
    <!-- Right column -->

  </div>
</div>
