<div class="container">
  <div class="panel panel-default col-md-offset-3 col-md-6">
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
          <fieldset>
            <legend><%= t "sign_in.title" %></legend>
            <div class="form-group">
              <label for="inputEmail" class="col-md-3 control-label"><%= t "sign_in.email_id" %></label>
              <div class="col-md-9">
                <%= f.email_field :email, class: "form-control", :placeholder => (t "sign_in.email_id"), autofocus: true %>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-md-3 control-label"><%= t "sign_in.password" %></label>
              <div class="col-md-9">
                <%= f.password_field :password, class: "form-control", :placeholder => (t "sign_in.password"), autocomplete: "off" %>
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label (t "sign_in.remember_id") %>
                  </div>
                <% end -%>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-3 col-lg-offset-3">
                <%= f.submit (t "sign_in.finish"), :class => "btn btn-primary" %>
              </div>
              <div class="col-lg-6">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
  </div>
</div>
